<h2>{{title}}</h2>
<h2>{{description}}</h2>
<h2>{{date}}</h2>
<h2>{{location}}</h2>
<h2>{{userId}}</h2>
<h2>{{visibility}}</h2>
<h2>{{id}}</h2>

<a href = "/memory">Create a new Memory</a>
<a href = '/memory/update'>Update this Memory</a>