<script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4OR__xoGteLldJyCTxt5h0lvURiIKCso&libraries=places&callback=initMap"
async defer></script>

<script>
    
    function initMap() {
        var getlat, getlng;
        //alert(loc.lat);
        // The map, centered at Uluru
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById('display_location').innerHTML;
        //alert(address);
        geocoder.geocode({
            'address': address
        }, function(results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
            getlat = results[0].geometry.location.lat();
            getlng = results[0].geometry.location.lng();
            //alert(getlng);
            }
            //var loc = {lat: parseFloat(getlat), lng: parseFloat(getlng)}
        var location = new google.maps.LatLng(parseFloat(getlat),getlng);
        //alert(location);
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: location,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: location,
          map: map,
        });
        });
        
    }

</script>

<h1 id="display_title">{{title}}</h1>
<h1 id="display_description">{{description}}</h1>
<h1 id="display_date">{{date}}</h1>
<h1 id="display_location" value="{{location}}">{{location}}</h1>
<div id="map"></div>
<h1 id="display_visibility">{{visibility}}</h1>


<a href = "/memory" id="display_create_memory">Create a new Memory</a>
<a href = '/memory/update/{{id}}' id="display_update_memory">Update this Memory</a>
<a href = "/memory/delete/{{id}}" id="display_delete_memory">Delete this Memory</a>
<a href = "/profile">Return to Profile</a>