<h1 id="display_title">{{title}}</h1>
<h1 id="display_description">{{description}}</h1>
<h1 id="display_date">{{date}}</h1>
<h1 id="display_location">{{location}}</h1>
<h1 id="display_userId">{{userId}}</h1>
<h1 id="display_visibility">{{visibility}}</h1>
<h1 id="display_id">{{id}}</h1>

<a href = "/memory" id="display_create_memory">Create a new Memory</a>
<a href = '/memory/update/{{id}}' id="display_update_memory">Update this Memory</a>
<a href = "/profile">Return to Profile</a>
