<main>

<div id="profile_div">
    <h1 id="profile_h1">My Profile</h1>
    <img alt="Profile Picture" src={{{profilePicture}}}>
    <p id = 'profile_name'>Name: {{{firstName}}} {{{lastName}}}</p>
    <p id = 'profile_email'>Email: {{{email}}}</p>
    <p id = 'profile_gender'>Gender: {{{gender}}}</p>
    <p id = 'profile_age'>Age: {{{age}}}</p>
    <a href = "" id="profile_a">Settings</a>
</div>
<div>
    <br>
    <a href="/memory">Create a Memory</a>
    <a href="/gallery/view">See my Gallery</a>
    <a href="./profileSearch.handlebars">Search for Other Users</a>
    <br>
</div>
<script src="/public/js/main.js"></script>

</main>
