<main>

<div id="profile_div">
    <h1 id="profile_h1">My Profile</h1>
    <img alt="Profile Picture" src={{{profilePicture}}}>
    <p id = 'profile_name'>Name: {{{firstName}}} {{{lastName}}}</p>
    <p id = 'profile_email'>Email: {{{email}}}</p>
    <p id = 'profile_gender'>Gender: {{{gender}}}</p>
    <p id = 'profile_age'>Age: {{{age}}}</p>
    <a href = "" id="profile_a">Settings</a>
</div>
<div>
    <br>
    <a href="./profile">Back to My Profile</a>
    <a href="/gallery">See {{{username}}}'s Gallery</a>
    <br>
</div>
<script src="/cs546_group10_final_project/public/js/main.js"></script>

</main>