<main>

<div id="profile_div">
    <h1 id="profile_h1">My Profile</h1>
    <img alt="{{{firstName}}} {{{lastName}}}" src={{{profilePicture}}}>
    <p>Name: {{{firstName}}} {{{lastName}}}</p>
    <p>Email: {{{email}}}</p>
    <p>Gender: {{{gender}}}</p>
    <p>Age: {{{age}}}</p>
    <a href = "" id="profile_a">Settings</a>
</div>
<div>
    <br>
    <a href="/memory">Create a Memory</a>
    <a href="/gallery/view">See my Gallery</a>
    <br>
</div>

</main>
