<div>
    <h1>My Profile</h1>
    <img alt={{{firstName}}}{{{lastName}}} src={{{profilePicture}}}>
    <p>Name: {{{firstName}}}{{{lastName}}}</p>
    <p>Email: {{{email}}}</p>
    <p>Gender: {{{gender}}}</p>
    <p>Age: {{{age}}}</p>
    <a href = "">Settings</a>
</div>