<div id="search_profile_div">
    <h1 id="search_profile_h1" hidden>{{{username}}}'s Profile</h1>
    
    <p id = 'search_profile_name'>Name: {{{firstName}}} {{{lastName}}}</p>
    <p id = 'search_profile_email'>Email: {{{email}}}</p>
    <p id = 'search_profile_gender'>Gender: {{{gender}}}</p>
    <p id = 'search_profile_age'>Age: {{{age}}}</p>
</div>

<a href="/profile">Back to My Profile</a>