<main>

<div id="profile_div">
    <h1 id="profile_h1">My Profile</h1>
    
    <p id = 'profile_name'>Name: {{{firstName}}} {{{lastName}}}</p>
    <p id = 'profile_email'>Email: {{{email}}}</p>
    <p id = 'profile_gender'>Gender: {{{gender}}}</p>
    <p id = 'profile_age'>Age: {{{age}}}</p>
    <a href = "/settings" id="profile_settings">Settings</a>
</div>

<div>
    <br><br>
    <a href="/memory">Create a Memory</a>
    <br><br>
    <a href="/gallery">See my Gallery</a>
    <br><br>
    <a href="/calendar">See my Calendar</a>
    <br><br>
    <a href="/search">Search for Other Users</a>
    <br><br>
</div>
<script src="/public/js/main.js"></script>

</main>
