<main>
<h1 id="the-heading">Search Other Users</h1>
    <p id = "error" hidden>Invalid Input</p>
    <form id="searchForm">
        <label id="formLabel" for="search_term">Enter Username to Search:</label>
        <input type="text" id="search_term" />
        </label>
        <button type="submit">Submit</button>
    </form>
<div id="search_profile_div">
    <h1 id="search_profile_h1" hidden>My Profile</h1>
    <img alt="Profile Picture" id = "search_prof_pic" src={{{profilePicture}}} hidden>
    <p id = 'search_profile_name' hidden>Name: {{{firstName}}} {{{lastName}}}</p>
    <p id = 'search_profile_email' hidden>Email: {{{email}}}</p>
    <p id = 'search_profile_gender' hidden>Gender: {{{gender}}}</p>
    <p id = 'search_profile_age' hidden>Age: {{{age}}}</p>
</div>
<div>
    <br>
    <a href="./profile">Back to My Profile</a>
    <a href="/gallery">See {{{username}}}'s Gallery</a>
    <br>
</div>
<script src="/cs546_group10_final_project/public/js/main.js"></script>
<script src="/cs546_group10_final_project/public/js/profileSearch.js"></script>

</main>