<h1 id="update_title">{{title}}</h1>
<form action="/memory/update" method = POST enctype="multipart/form-data" id="update_mem">
    {{!-- <label for = "id">Id:</label><br> --}}
    <input type="hidden" id="id" name="id" value="{{id}}"><br>
    
    <label for = "title" id="title_label">Title:</label><br>
    <input type="text" id="title" name="title" value="{{memtitle}}"><br>
    <label for = "description" id="description_label">Description:</label><br>
    <input type="text" id="description" name="description" value="{{description}}"><br>
    <label for = "images" id="images_label">Image:</label><br>
    <input type="file" id="images" name="images" value="" class=""><br>
    <label for = "caption">Image Caption:</label><br>
    <input type="text" id="caption" name="caption" value=""><br>
    <label for = "date" id="date_label">Date:</label><br>
    <input type="text" id="date" name="date" value="{{date}}" class=""><br>
    <label for = "location" id="location_label">Location:</label><br>
    <input type="text" id="location" name="location" value="{{location}}" class=""><br>
    <label for = "favorite" id="favorite_label">Favorite? ('yes' or 'no')</label><br>
    <input type="text" id="favorite" name="favorite" value="{{favorite}}" class=""><br>
    <label for = "visibility" id="visibility_label">Visibility:</label><br>
    <input type="text" id="visibility" name="visibility" value="{{visibility}}"><br>
    <input type="submit" id = "submit" value="Submit" class="">
</form>
    <script src = "/public/js/updateMem.js"></script>
    <a href="/" id="update_create_memory">Create a new Memory</a>
    
